{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="p-3">
	<div class="container">
	    <div class="row mt-3">
	      <div class="col mx-auto mb-3">
	        <h2>Statistics</h2>
	        <hr />			
		  </div>
		</div>
		<div class="row" style="display:flex; flex-direction:row; justify-content:center; align-content:center;">
			
		      <div class="col-md-4 col-lg-3 mb-2">
		        <div class="p-2 card align-items-center pt-4">
				  <h2>Most Reviewed</h2>
		          <img src="{{ template_data.mostReviewed.image.url }}" class="card-img-top rounded img-card-200">
		          <div class="card-body text-center">
		            <a href="{% url 'movies.show' id=template_data.mostReviewed.id %}" class="btn bg-dark text-white">
		              {{ template_data.mostReviewed.name }}
		            </a>
		          </div>
				  <h2>Reviews: {{ template_data.mostReviewed.review_num }}</h2>
		        </div>
		      </div>
			  
			  <div class="col-md-4 col-lg-3 mb-2">
			  	<div class="p-2 card align-items-center pt-4">
					<h2>Most Ordered</h2>
			  		<img src="{{ template_data.mostOrdered.image.url }}" class="card-img-top rounded img-card-200">
			  		<div class="card-body text-center">
			  		    <a href="{% url 'movies.show' id=template_data.mostOrdered.id %}" class="btn bg-dark text-white">
			  		    	{{ template_data.mostOrdered.name }}
			  			</a>
			  		</div>
					<h2>Orders: {{ template_data.mostOrdered.orders_num }}</h2>
			  	</div>
			  </div>
			
		</div>
	</div>
</div>

{% endblock content %}